<div id="<%= dom_id evento %>">
  <p>
    <strong>Nome:</strong>
    <%= evento.nome %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= evento.data %>
  </p>

  <p>
    <strong>Horainicio:</strong>
    <%= evento.HoraInicio %>
  </p>

  <p>
    <strong>Horatermino:</strong>
    <%= evento.HoraTermino %>
  </p>

</div>
