<p style="color: green"><%= notice %></p>

<%= render @evento %>

<div>
  <%= link_to "Edit this evento", edit_evento_path(@evento) %> |
  <%= link_to "Back to eventos", eventos_path %>

  <%= button_to "Destroy this evento", @evento, method: :delete %>
</div>
