<div id="<%= dom_id acao %>">
  <p>
    <strong>Titulo:</strong>
    <%= acao.titulo %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= acao.valor %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= acao.tipo %>
  </p>

  <p>
    <strong>Mes:</strong>
    <%= acao.mes %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= acao.ano %>
  </p>

</div>
