<%= form_with(model: acao) do |form| %>
  <% if acao.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(acao.errors.count, "error") %> prohibited this acao from being saved:</h2>

      <ul>
        <% acao.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titulo, style: "display: block" %>
    <%= form.text_field :titulo %>
  </div>

  <div>
    <%= form.label :valor, style: "display: block" %>
    <%= form.text_field :valor %>
  </div>

  <div>
    <%= form.label :tipo, style: "display: block" %>
    <%= form.check_box :tipo %>
  </div>

  <div>
    <%= form.label :mes, style: "display: block" %>
    <%= form.text_field :mes %>
  </div>

  <div>
    <%= form.label :ano, style: "display: block" %>
    <%= form.text_field :ano %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
