<p style="color: green"><%= notice %></p>

<%= render @reuniao %>

<div>
  <%= link_to "Edit this reuniao", edit_reuniao_path(@reuniao) %> |
  <%= link_to "Back to reuniaos", reuniaos_path %>

  <%= button_to "Destroy this reuniao", @reuniao, method: :delete %>
</div>
